/* Color Theme Swatches in Hex */
$Jones-Red-1-hex:  #C90A1B;
$Jones-Red-2-hex:  #FF0D22;
$Jones-Blue-1-hex: #0D1440;
$Jones-Blue-2-hex: #1438A6;
$Jones-Blue-3-hex: #0E2773;
$Jones-Blue-4-hex: #1455D9;
$Jones-Gray-1-hex: #232425;
$Jones-Gray-2-hex: #4D4F53;
$Jones-Gray-3-hex: #7A7B7C;
$Jones-Gray-4-hex: #9A9B9C;
$Jones-Gray-5-hex: #CCCCCC;

/* Color Theme Swatches in RGBA */
$Jones-Red-1-rgba:  rgba(201,10,27, 1);
$Jones-Red-2-rgba:  rgba(255,13,34, 1);
$Jones-Blue-1-rgba: rgba(12,20,63, 1);
$Jones-Blue-2-rgba: rgba(19,56,165, 1);
$Jones-Blue-3-rgba: rgba(13,39,114, 1);
$Jones-Blue-4-rgba: rgba(19,85,216, 1);
$Jones-Gray-1-rgba: rgba(35,35,36, 1);
$Jones-Gray-2-rgba: rgba(77,79,82, 1);
$Jones-Gray-3-rgba: rgba(121,123,124, 1);
$Jones-Gray-4-rgba: rgba(154,154,156, 1);
$Jones-Gray-5-rgba: rgba(204,204,204, 1);

/* Color Theme Swatches in HSLA */
$Jones-Red-1-hsla:  hsla(354, 90, 41, 1);
$Jones-Red-2-hsla:  hsla(354, 100, 52, 1);
$Jones-Blue-1-hsla: hsla(230, 66, 15, 1);
$Jones-Blue-2-hsla: hsla(225, 78, 36, 1);
$Jones-Blue-3-hsla: hsla(225, 78, 25, 1);
$Jones-Blue-4-hsla: hsla(219, 83, 46, 1);
$Jones-Gray-1-hsla: hsla(210, 2, 14, 1);
$Jones-Gray-2-hsla: hsla(219, 3, 31, 1);
$Jones-Gray-3-hsla: hsla(210, 0, 48, 1);
$Jones-Gray-4-hsla: hsla(210, 0, 60, 1);
$Jones-Gray-5-hsla: hsla(0, 0, 80, 1);
