# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug
CMakeLists.txt.user

# ninja
*.ninja
.ninja_*

# project
out
build

# ides
.vscode
.idea
.devcontainer

# internal
jones.log