[submodule "external/sdl/source"]
        path = external/sdl/source
        url = https://github.com/thejunkjon/external-sdl.git
        ignore = dirty

[submodule "external/ncurses/source"]
        path = external/ncurses/source
        url = https://github.com/thejunkjon/external-ncurses.git
        ignore = dirty

[submodule "external/capstone/source"]
        path = external/capstone/source
        url = https://github.com/thejunkjon/external-capstone.git
        ignore = dirty

[submodule "external/sndio/source"]
        path = external/sndio/source
        url = https://github.com/thejunkjon/external-sndio.git
        ignore = dirty

[submodule "external/boost/source"]
        path = external/boost/source
        url = https://github.com/thejunkjon/external-boost.git
        ignore = dirty

[submodule "external/png/source"]
        path = external/png/source
        url = https://github.com/thejunkjon/external-libpng.git
        ignore = dirty

[submodule "external/gsl/source"]
        path = external/gsl/source
        url = https://github.com/Microsoft/GSL.git
        ignore = dirty

[submodule "external/zlib/source"]
        path = external/zlib/source
        url = https://github.com/thejunkjon/external-zlib.git
        ignore = dirty

[submodule "external/gzip/source"]
        path = external/gzip/source
        url = https://github.com/thejunkjon/external-gzip.git
        ignore = dirty

[submodule "external/spdlog/source"]
	path = external/spdlog/source
	url = https://github.com/gabime/spdlog.git
        ignore = dirty

[submodule "external/wasm/emsdk/source"]
	path = external/wasm/emsdk/source
	url = https://github.com/emscripten-core/emsdk.git
        ignore = dirty

[submodule "external/wasm/emscripten/source"]
	path = external/wasm/emscripten/source
	url = https://github.com/emscripten-core/emscripten.git
        ignore = dirty

[submodule "external/cppcoro/source"]
	path = external/cppcoro/source
	url = git@github.com:JonForShort/cppcoro.git
        ignore = dirty
